<h2>recipes</h2>

<% if @recipes == [] %>

  <p>You don't have a single recipe, poor bastard!</p>

  <% else %>

  <p>View All The Recipes!</p>
  <ul>
    <% @recipes.each() do |recipe| %>
    <li> <a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a>, rated as: <%= recipe.rating() %> stars <a class = "remover" href="/recipes/<%= recipe.id() %>/delete">Delete <%= recipe.name() %></a></li>
    <% end %>

  </ul>
<% end %>

<h3> Add a recipe: </h3>
<form action="/recipes" method="post">
  <label for="name">Recipe Name:  </label>
  <input type="text" name="name" id="name">
  <button type="submit">Add Recipe</button>
</form>

<a href="/clear/recipes">Clear all recipes!</a>
