<h2>Tag: <%= @tag.description() %></h2>
<hr>

<% if @recipe %>
  <h3> Currently tagged on: <%= @recipe.name %> </h3>

<% else %>
    <p><strong>Tag has not yet been assigned to a recipe.</strong></p>
    <br>
    <p><a href="/recipes">Add a recipe to the database</a></p>
<% end %>

<h4>Assign tag to a recipe:</h4>
<form id="update_recipe_id" action="/tags/<%= @tag.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="tag_id" id="tag_id" value="<%= @tag.id() %>">
  <label for="recipe_select">Select the Recipe:  </label>
    <br>
  <select id="recipe_id" name="recipe_id">
    <% @recipes.each() do |recipe| %>
      <option value="<%= recipe.id() %>"><%= recipe.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
