<h2>Tag: <%= @tag.description() %></h2>
<hr>

<div class="row">

  <div>
    <form action="/tags/<%= @tag.id %>/rename" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="description">Enter a new description:</label>
      <input id="description" name="description" type="text">

      <button type="submit">Update</button>
    </form>
  </div>

  <div style="display:inline-block;">
    <form action="/tags/<%= @tag.id %>/delete" method="post">
      <input name="_method" type="hidden" value="delete">

      <button type="submit">Delete Tag</button>
    </form>
  </div>

</div>

<hr>

<div class="row">

  <div class="col-md-6">
    <% if @tag.recipes.any? %>
      <h3>Here are the recipes currently assigned to this tag:</h3>
      <ul>
        <% @tag.recipes.each() do |recipe_tag| %>
          <li> <a href="/recipes/<%= recipe_tag.id() %>"><%= recipe_tag.name() %></a> </li>
        <% end %>
      </ul>
    <% else %>
        <p><strong>There are currently no recipes assigned to this tag.</strong></p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h4>Assign tag to a recipe:</h4>
    <form id="update_recipe_id" action="/tags/<%= @tag.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <input type="hidden" name="tag_id" id="tag_id" value="<%= @tag.id() %>">
      <label for="recipe_select">Select the Recipe:  </label>
        <br>
      <select id="recipe_id" name="recipe_id">
        <% @recipes.each() do |recipe| %>
          <option value="<%= recipe.id() %>"><%= recipe.name() %></option>
        <% end %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>
